
*.pdf

*.log

*.dvi

*.blg

*.bbl

*.aux

*.gz

experiments/1-numeral-replication/Results/MuLidz2003 Replication/kj_results/.DS_Store

experiments/.DS_Store

experiments/.DS_Store

experiments/_shared/.DS_Store

experiments/1-numeral-replication/Results/MuLidz2003 Replication/kj_results/.DS_Store

experiments/2-numeral-replication-fixed/.DS_Store

experiments/_shared/.DS_Store

experiments/1-numeral-replication/.DS_Store

experiments/3-text-replication/.DS_Store
models/.DS_Store
models/WebPPL Code/.DS_Store
writing/journal/plots/.Rhistory
writing/journal/cover-letter/cover-letter.tex
writing/journal/cover-letter/UCIHeader.png
writing/journal/plots/.DS_Store
writing/journal/revision3 reviews.zip
writing/journal/revision3/B a9921ad7-8b74-45f2-8e38-db0f62237abc-comment-from-ojs.html
writing/journal/revision3/D tieu-2021.txt
experiments/video-experiment-example.zip
