
*.pdf

*.log

*.dvi

*.blg

*.bbl

*.aux

*.gz

experiments/1-numeral-replication/Results/MuLidz2003 Replication/kj_results/.DS_Store

experiments/.DS_Store

experiments/.DS_Store

experiments/_shared/.DS_Store

experiments/1-numeral-replication/Results/MuLidz2003 Replication/kj_results/.DS_Store

experiments/2-numeral-replication-fixed/.DS_Store

experiments/_shared/.DS_Store

experiments/1-numeral-replication/.DS_Store

experiments/3-text-replication/.DS_Store
